<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>

  <h1>Login Admin</h1>

  <form action="/login" method="POST">

    <div>
      <label>Usuário</label>
      <input
        type="text"
        name="username"
      >
    </div>

    <br>

    <div>
      <label>Senha</label>
      <input
        type="password"
        name="password"
      >
    </div>

    <br>

    <button type="submit">
      Entrar
    </button>

  </form>

</body>
</html>